* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.open {

}
.cube1 {
    height: 500px;
    width: 1000px;
    background-color: green;
}
.cube2 {
    height: 150px;
    width: 150px;
    background-color: white;
    position: relative;
    bottom: 450px;
    left: 50px;
    z-index: 1;
}
.cube3 {
    height: 150px;
    width: 150px;
    background-color: white;
    position: relative;
    bottom: 350px;
    left: 700px;
}