* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.open {

}
.cube1 {
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    top: 100px;
    left: 100px;
}
.cube2 {
    height: 100px;
    width: 100px;
    background-color: purple;
    position: relative;
    top: 75px;
    left: 175px;
    z-index: 1;
}
.cube3 {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
    top: 50px;
    left: 250px;
}